name: "[GPU] mostlyai-qa Tests"

on:
  workflow_call:

env:
    PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
    FORCE_COLOR: "1"

jobs:
  run-tests-gpu:
    runs-on: gha-gpu-public
    container:
      image: nvidia/cuda:12.4.1-cudnn-runtime-ubuntu22.04
      options: --gpus all
    permissions:
      contents: read
      packages: write
    steps:
      - name: Setup | Install Git
        run: |
          apt-get update
          apt-get install -y git

      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Setup | Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Setup | uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: false
          python-version: '3.10'

      - name: Setup | dependencies
        run: uv sync --frozen --extra gpu

      - name: Setup | Check for available GPU-s
        run: nvidia-smi

      - name: Run tests
        run: uv run pytest --log-cli-level=INFO tests/

      - name: Build mkdocs
        run: uv run mkdocs build --strict
