name: '[GPU] mostlyai-qa Tests'

on:
  workflow_call:

env:
  PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
  FORCE_COLOR: '1'

jobs:
  run-tests-gpu:
    runs-on: gha-gpu-public
    container:
      image: nvidia/cuda:12.4.1-cudnn-runtime-ubuntu22.04
      options: --gpus all
    permissions:
      contents: read
      packages: write
    steps:
      - name: Setup | Install Git
        run: |
          apt-get update -qq
          apt-get install -y --no-install-recommends git

      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup | Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.10'

      - name: Setup | uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        with:
          enable-cache: false
          python-version: '3.10'

      - name: Setup | dependencies
        run: |
          uv sync --frozen --only-group dev --only-group docs
          uv pip install .

      - name: Setup | Check for available GPU-s
        run: nvidia-smi

      - name: Run tests
        run: uv run --no-sync pytest tests/

      - name: Build mkdocs
        run: uv run --no-sync mkdocs build --strict
