name: Run Tests

on: [workflow_call]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "**/pyproject.toml"
          python-version: '3.10'
      - name: Install dependencies
        run: uv sync --extra dev --extra docs
      - name: Run tests
        run: uv run pytest tests/
      - name: Install doc dependencies
        run: uv install --with docs
      - name: Build mkdocs
        run: uv run mkdocs build --strict
